body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('glacier04.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}


header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5); 
  color: rgb(255, 255, 255); 
  padding: 20px;
  text-align: center;
}

.logo {
  max-width: 20%;
}
.ksu-logo {
  position: absolute;
  top: 10px;
  right: 20px;
}
.ksu-logo img {
  max-width: 50%;
}

main {
  flex-grow: 1; 
  background-color: rgba(0, 0, 0, 0.5); 
}

.developers {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  max-width: 800px;
  background-color: rgb(254, 197, 46,.8);
  padding: 20px;
  border-radius: 10px;
}


.developer {
  text-align: center;
  flex: 1;
}

.developer img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.links {
  margin: auto;
  max-width: 800px;
  padding: 80px;
}

.links ul {
  list-style-type: none;
  padding: 0;
}

.links li {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 17px;
  text-decoration: none;
  

}

li a:hover {
  background-color: #111;
} 

li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

ul {
  position: fixed;
  bottom: 0;
  left: 0; 
  width: 100%; 
  background-color: #333;
}
