body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fced22;
    color: white;
    padding: 20px;
    text-align: center;
}

.developers {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.developer {
    text-align: center;
    width: 30%;
}

.developer img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.course-info {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.links {
    background-color: #f0f0f0;
    padding: 20px;
}

.links ul {
    list-style-type: none;
    padding: 0;
}

.links li {
    margin-bottom: 10px;
}
